#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

/* HOME */
.homeDiv {
  position: relative;
}

.homeDiv img {
  width: 50%;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.homeDiv .Text {
  position: absolute;
  top: 5%;
  left: 5%;
  color: var(--midnight-green);
}

.homeDiv .Text h1 {
  color: var(--rust);
}
